.computing-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start
}    

.computing-box a {
    display: block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: black;    
}

.computing-box img {
    display: block;
    margin: 10px; /* auto; */
    max-width: 100%;    
    width: 480px;
    height: auto;
}

.computing-box img:hover {
    transform: scale(1.025);
}

.computing-box span {
    font-size: 16px;
    font-family: sans-serif;
}
