
  

.dropdown {
    position: relative;
    display: inline-block;
    width: 75%;
    height: 2em;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  /*  min-width: 250px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content-display {
    display: block;
  }
  
  /* .dropdown:hover .dropdown-content {
    display: block;
  }
  */
  .filterbutton {
    cursor:pointer;
    height: 2em;
    padding: 0.25em 0.5em 0.25em 0.5em;
  }
  .ddmap-area {
    fill: gray;
    opacity: 1;
    stroke:white;
    stroke-width:1.264583px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    pointer-events: all;
}
.ddmap-area:hover {
/*    fill: cyan; */
  stroke-opacity:1; /* RAP: added as a filler.  remove after test */
}

.pathpressed {
    fill: green;
}

.pathunpressed {
fill:gray;
}
