body {
    background-color: white;
/*    font: normal 100% Helvetica, Arial, sans-serif; */
    font-family: Candara, Geneva, Consolas, Calibri, "Monaco", "Lucida Console", "GaramondPro", "Robato", Verdana, Helvetica, Courier, sans-serif

}
h1 {
    font-size: 1.5em;
/*    color: darkred; */
    text-align: center;
}
h2 {
    font-size: 1.25em;
/*    color: darkred;
    text-decoration: underline wavy;
*/
}
h3 {
    font-size: 1em;
/*    color: darkred; */
}

.div_top_hypers {
    height:1em;
}
.ul_top_hypers li {
    display: inline;
    float: right;   
    font-weight: bold;
    font-size:1em;
    color:brown;
}
.ul_top_hypers li:after {
    content: "|";
}
.ul_top_hypers li:first-child::after {
    display: none;
}
.content {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}
.banner {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}

@media only screen and (orientation: landscape)
{
.topiclist 
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.topiclist-dense 
{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
}
@media only screen and (orientation: portrait)
{
.topiclist 
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.topiclist-dense
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
}

.topiclist img {
    height: 25vh;
    width: 33vh;
    border-radius: 1em;
    transition: transform 0.2s;
}

.topiclist img:hover {
    transform: scale(1.025);
}

.topiclist ul {
  color: red;
}

.topiclist-dense img {
    height: 10vh;
    width: 13vh;
    border-radius: 0.1em;
    transition: transform 0.2s;
}

.topiclist-dense img:hover {
    transform: scale(1.025);
}

.topiclist-dense ul {
  color: red;
}
.topiclist-dense h2 {
    font-size: 0.8em;
    text-decoration: none;
    margin-bottom: 0px;
}
.topbar {
    background-color: lightgrey;
    height: 1em;
  }
  