.unpressed {
    cursor:pointer;
    border-style: outset;
    border-width: 1px;
    background-color: lightgray;
  }
  .pressed {
    border-style: inset;
    border-width: 1px;
    background-color: white;
  }
  .pressed-gray {
    border-style: inset;
    border-width: 1px;
    background-color: lightgray;
  }
  