.fractals-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start
}    

.fractals-box a {
    display: block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: black;    
}

.fractals-box img {
    display: block;
    margin: 10px; /* auto; */
    max-width: 100%;    
    width: 64px;
    height: auto;
}

.fractals-box img:hover {
    transform: scale(1.025);
}

.fractals-box span {
    font-size: 16px;
    font-family: sans-serif;
}

.fractal-image-container {
    display: flex; /* Activates Flexbox for the container */
    justify-content: center; /* Centers items along the main (horizontal) axis */
}    

.fractal-image-container img {
    width:75%;
}