.listcontainer  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }
 .listcard {
     background-color: white;
     border-style: solid;
/*     box-shadow: 3px 3px 3px gray; */
     border-width: 1px;
     border-color: lightgray;

/* //  center test 
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: red;
*/
 }
 .listcard span {
     text-align: top;
 }
 
 .listcardthumbnail {
  vertical-align: top;
  border-radius: 0.2em;
  float:left;
  width: 30%;
 }
 
 .listcardtitle {
  font: 600 100% Candara, Geneva, Consolas, Calibri, "Monaco", "Lucida Console", "GaramondPro", "Robato", Verdana, Helvetica, Courier, sans-serif
/* font: 600 100% BurfordBase, Arial, sans-serif;
/*  font-size: 110%;
  font-weight: 500; */
  }

  .listcardlink {
    text-decoration: none;
    color: black;
  }
.listcardheader {
  font-weight: bold;
  font-size: 1em;
}
.listcardtext {
  font-weight: 400;
  font-size: 1em;
}
  
 @media only screen and (orientation: landscape)
 {
 .listcontainer 
 {
   grid-template-columns: repeat(4, 1fr);
 }
 }
 
 @media only screen and (max-width:80em) and (orientation: landscape)
 {
 .listcontainer 
 {
   grid-template-columns: repeat(4, 1fr);
 }
 }
 @media only screen and (max-width:80em) and (orientation: landscape)
 {
 .listcontainer 
 {
   grid-template-columns: repeat(3, 1fr);
 }
 }
 @media only screen and (max-width:60em) and (orientation: landscape)
 {
 .listcontainer 
 {
   grid-template-columns: repeat(2, 1fr);
 }
 }
 @media only screen and (orientation: portrait)
 {
 .listcontainer 
 {
   grid-template-columns: repeat(1, 1fr);
 }
 }
 