body {
    background-color: white;
/*    font: normal 100% Helvetica, Arial, sans-serif; */
    font-family: Candara, Geneva, Consolas, Calibri, "Monaco", "Lucida Console", "GaramondPro", "Robato", Verdana, Helvetica, Courier, sans-serif

}
h1 {
    font-size: 1.5em;
/*    color: darkred; */
    text-align: center;
}
h2 {
    font-size: 1.25em;
/*    color: darkred;
    text-decoration: underline wavy;
*/
}
h3 {
    font-size: 1em;
/*    color: darkred; */
}

.div_top_hypers {
    height:1em;
}

.topiclist img:hover {
    transform: scale(1.025);
}
.image-link {
    /* This makes the entire container a block and clickable */
    display: block;
    /* Centers the content horizontally */
    text-align: center;
    /* Optional: Adds some space around the entire link */
    margin: 10px;
    /* Optional: Remove default link underline from text */
    text-decoration: none; 
    color: black;
    }

    .image-link img {
    /* Makes the image behave like a block element, forcing the next element to a new line */
    display: block;
    margin: 0 auto; /* Centers the image if it's smaller than the anchor width */
    /* Optional: Add space below the image */
    margin-bottom: 5px;
    /* Optional: Set max width for responsiveness */
    max-width: 100%;
    }
.image-link img:hover {
    transform: scale(1.025);
}
    .image-link span {
    /* Optional: Styles the text */
    font-size: 16px;
    font-family: sans-serif;
    }    
.box > * {
/*  border: 2px solid rgb(96 255 168); */
  border-radius: 5px;
/*  background-color: rgb(96 139 255); */
  align-items: center;
  margin: 0.5em;
  /* flex: 1 1 0px; */
  flex-grow: 0;
}

.box {
/*  border: 2px dotted rgb(255 139 168); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 
.banner-image {
    width: 100%;
    height: 64px;
}
.banner {
  width: 80%;
  height: 64px;
}

/*
.ul_top_hypers li {
    display: inline;
    float: right;   
    font-weight: bold;
    font-size:1em;
    color:brown;
}
.ul_top_hypers li:after {
    content: "|";
}
.ul_top_hypers li:first-child::after {
    display: none;
}
.content {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}
.banner {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}

@media only screen and (orientation: landscape)
{
.topiclist 
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.topiclist-dense 
{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
}
@media only screen and (orientation: portrait)
{
.topiclist 
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.topiclist-dense
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
}

.topiclist img {
    height: 25vh;
    width: 33vh;
    border-radius: 1em;
    transition: transform 0.2s;
}

.topiclist img:hover {
    transform: scale(1.025);
}

.topiclist ul {
  color: red;
}

.topiclist-dense img {
    height: 10vh;
    width: 13vh;
    border-radius: 0.1em;
    transition: transform 0.2s;
}

.topiclist-dense img:hover {
    transform: scale(1.025);
}

.topiclist-dense ul {
  color: red;
}
.topiclist-dense h2 {
    font-size: 0.8em;
    text-decoration: none;
    margin-bottom: 0px;
}
.topbar {
    background-color: lightgrey;
    height: 1em;
  }
  */