.travel-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}    

.travel-box  img {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: auto;
    align-items: center;
    flex-grow: 0;
    padding: 5px;
    min-width: 0;
    max-width: 90%;
}

.travel-box-link span {
    font-size: 16px;
    font-family: sans-serif;
    }    

.trip-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start
}    

.trip-box a {
    display: block;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: black;    
}

.trip-box img {
    display: block;
    margin: 10px; /* auto; */
    max-width: 100%;    
    width: 480px;
    height: auto;
}

.trip-box img:hover {
    transform: scale(1.025);
}

.trip-box span {
    font-size: 16px;
    font-family: sans-serif;
}
