.travel-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}    

.travel-box  img {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: auto;
    align-items: center;
    flex-grow: 0;
    padding: 5px;
    min-width: 0;
    max-width: 90%;
}

.travel-box-link span {
    font-size: 16px;
    font-family: sans-serif;
    }    

